<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img src="https://www.codingninjas.com/assets-landing/images/CNLOGO.svg" width="7%" height="7%" class="d-inline-block align-top" alt="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <%= link_to "Home", home_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Raise Doubt", doubtForm_path, class: "nav-link" %>
            </li>
        </ul>
        <%= button_to 'Logout', logout_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0" %>
    </div>
</nav>
<div class="container mt-3">
    <h2> Home </h2>
    <div class="alert-warning mt-2 mb-2"><%= notice %></div>
    <div class="alert-danger mt-2 mb-2"><%= alert %></div>
    <% @doubts.each do |doubt| %>
    <div class="card mt-3">
        <div class="card-header">
            <div class="row col-12">
                <div class="col-10">
                    <h5><%= doubt.title%></h5>
                    <h6><%= doubt.description%></h6>
                </div>
                <div class="col text-center">
                    <div class="alert-success p-1"><%=doubt.status%></div>
                </div>
            </div>
            <% if doubt.status == "Resolved" %>
            <div class="col-12 mt-3">
                <h5>Answer</h5>
                <h6><%=doubt.solution%></h6>
                <p class="font-italic">Answered by: <%=User.find(TaDoubt.where(doubt_id: doubt.id).pluck(:user_id)).pluck(:email).first%> on <%=doubt.updated_at.in_time_zone('Asia/Kolkata').strftime("%d %b, %y at %I : %M %p")%></p>
            </div>
            <%end%>
        </div>
        <div class="card-body">
            <%= form_with url: addComment_path, :html => {:class => "form-signin"} do |f| %>
            <%= f.text_area :comment, id: 'comment', class: 'form-control', placeholder: 'Comment', required: '' %>
            <%= f.hidden_field :doubt_id, value: doubt.id %>
            <%= f.submit 'Comment', class: 'tn btn-sm btn-primary btn-block mt-2' %>
            <% end %>
            <br>
            <% doubt.comments.each do |comment| %>
            <div class="card mt-1">
                <div class="card-body">
                    <h6><%= comment.email%> : <%= comment.comment%></h6>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    <% end %>
    <br>
</div>