<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-brand col-11"><img src="https://www.codingninjas.com/assets-landing/images/CNLOGO.svg" width="7%" height="7%" class="d-inline-block align-top" alt=""></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="d-flex">
                <%= button_to 'Logout', logout_path, method: :delete, class: "btn btn-outline-success" %>
            </div>
        </div>
    </div>
</nav>
<div class="container mt-3">
    <h1> Dashboard </h1>
    <div class="row text-center">
        <div class="card col m-3">
            <div class="card-body">
                <h1><%= @no_of_doubts %></h1>
                <p>Total Doubts</p>
            </div>
        </div>
        <div class="card col m-3">
            <div class="card-body">
                <h1><%= @no_of_resolved_doubts %></h1>
                <p>Doubts Resolved</p>
            </div>
        </div>
        <div class="card col m-3">
            <div class="card-body">
                <h1><%= @no_of_doubts_escalated %></h1>
                <p>Doubts Escalated</p>
            </div>
        </div>
        <div class="card col m-3">
            <div class="card-body">
                <% @total = 0%>
                <% Doubt.where(status: "Resolved").each do |time| %>
                <% @total = @total + ((time.updated_at - time.accepted_at) / 1.minute).round %>
                <%end%>
                <%if Doubt.where(status: "Resolved").count > 0 %>
                <h1><%= @total/Doubt.where(status: "Resolved").count %></h1>
                <%else%>
                <h1>0</h1>
                <%end%>
                <p>Average resolution time</p>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            <h3 class="mb-4">TA Report</h3>
            <% @ta.each do |ta| %>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="col-12"><%= ta.email %></div>
                    <div class="row col-12 mt-2">
                        <div class="col">Doubts Accepted: <%= TaDoubt.where(user_id: ta.id).count %></div>
                        <div class="col">Doubts Resolved: <%= TaDoubt.where(user_id: ta.id, status: "Resolved").count %></div>
                        <div class="col">Doubts Escalated: <%= TaDoubt.where(user_id: ta.id, status: "Escalated").count %></div>
                        <% @total = 0%>
                        <% Doubt.joins(:TaDoubt).where(TaDoubt: {user_id: ta.id, status: "Resolved"}).each do |time| %>
                        <% @total = @total + ((time.resolved_at - time.accepted_at) / 1.minute).round %>
                        <%end%>
                        <div class="col">Average resolution time:
                        <%if Doubt.joins(:TaDoubt).where(TaDoubt: {user_id: ta.id, status: "Resolved"}).count > 0%>
                            <%= @total/Doubt.joins(:TaDoubt).where(TaDoubt: {user_id: ta.id, status: "Resolved"}).count %>
                        <%else%>
                            nil
                        <%end%>
                        </div>
                    </div>
                </div>
            </div>
            <%end%>
        </div>
    </div>
</div>